.canteen_cafe_page {
  padding-top: 160px;
  padding-bottom: 180px;
  background: #ededed;
  .canteen_cafe_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
    .canteen_body {
      width: 100%;
      padding: 0 120px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 25px;
      .canteen_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        border-radius: 15px;
        background: #ffffff;
        cursor: pointer;
        transition: 0.3s linear all;
        &:hover {
          box-shadow: 10px 10px 15px rgb(0 0 0 / 15%);
        }
        .card_img {
          width: 100%;
          height: 270px;
          border-radius: 15px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }
        .card_body {
          width: 100%;
          padding: 25px 15px 80px 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px;
          h1 {
            width: 100%;
            text-align: center;
            font-family: "Gilroy-Medium", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            color: #fbcf35;
          }
          .card_details {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            p {
              width: 100%;
              font-family: "Gilroy-Medium", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 17px;
              line-height: 21px;
              color: #3a3a3a;
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1715px) {
  .canteen_cafe_page .canteen_cafe_wrapper .canteen_body {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
@media (max-width: 1600px) {
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_img {
    height: 230px;
  }
}
@media (max-width: 1350px) {
  .canteen_cafe_page .canteen_cafe_wrapper .canteen_body {
    padding: 0 25px;
  }
}
@media (max-width: 1000px) {
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_img {
    height: 200px;
  }
}
@media (max-width: 700px) {
  .canteen_header {
    padding-right: 25px;
  }
}
@media (max-width: 650px) {
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_img {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .canteen_cafe_page {
    padding-top: 100px;
    padding-bottom: 75px;
  }
  .canteen_cafe_page .canteen_cafe_wrapper .canteen_body {
    padding: 0 15px;
  }
  .canteen_cafe_page .canteen_cafe_wrapper {
    gap: 25px;
  }
}
@media (max-width: 450px) {
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_img {
    height: 230px;
  }
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_body {
    padding: 18px 10px 45px 10px;
  }
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_body
    h1 {
    font-size: 22px;
    line-height: 27px;
  }
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_body
    .card_details
    p {
    font-size: 13px;
    line-height: 17px;
  }
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_body {
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .canteen_cafe_page {
    padding-top: 80px;
  }
  .canteen_cafe_page
    .canteen_cafe_wrapper
    .canteen_body
    .canteen_card
    .card_img {
    height: 190px;
  }
}
