.home_page {
  padding-top: 104px;
  .banner_section {
    width: 100%;
    height: calc(100vh - 104px);
  }
}

// media queries
@media (max-width: 600px) {
  .home_page {
    padding-top: 75.64px;
  }
  .home_page .banner_section {
    height: calc(100vh - 75.64px);
  }
}
@media (max-width: 400px) {
  .home_page {
    padding-top: 64.17px;
  }
  .home_page .banner_section {
    height: calc(100vh - 64.17px);
  }
}
