.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  .empty_line {
    height: 7.96px;
    background: #437e4a;
    border-radius: 0px 2px 2px 0px;
  }
  h1 {
    font-family: "Gilroy-Medium", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #3a3a3a;
    margin-bottom: 0;
  }
}
@media (max-width: 1350px) {
  .heading .empty_line {
    width: 25px !important;
    height: 4.5px;
  }
  .heading h1 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 550px) {
  .heading h1 {
    font-size: 32px;
    line-height: 35px;
  }
} ;
