@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url('./assets/fonts/Gilroy-Bold.ttf');
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/Gilroy-Thin.ttf");
}
@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("./assets/fonts/Gilroy-UltraLight.ttf");
}